<strong>Recuperação de senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail {{ email }}.</p>

<p>Use o token {{ token }} ou <a href="{{ link }}">clique aqui para continuar com a recuperação da senha</a></p>
